
<div class="contact-body">
    <div class="contact-container">
        <h3>
            Contacts Information
        </h3>
        <div class="contact-content">
            <div class="contact-description">
                <p>Your list of contacts appear here. To add a new contact, click on the Add New Contact button.</p>
            </div>
            <div class="contact-add">
                <button ngClass="button-add" mat-button style="color: white;" (click)="addContact()">Add New Contact</button>
            </div>
        </div>
    
        <div class="contact-view">
            <span (click)="triggerDisplay('card')" [style]="{opacity: this.contactView == 'card' ? .3: 1}" class="material-icons">grid_view</span>
            <span (click)="triggerDisplay('table')" [style]="{opacity: this.contactView == 'table' ? .3: 1}" class="material-icons">table_rows</span>
        </div>
        
        <app-card-view [style]="{ display: this.contactView !== 'card' ? 'none':'' }"></app-card-view>
        <app-table-view [style]="{ display: this.contactView !== 'table' ? 'none' :'' }"></app-table-view>
    </div>
</div>
