.contact-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.contact-container{
    width: 60%; 
    max-width: 1200px; 
    padding: 20px; 
    background-color: #fff; 
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .contact-description{
        width: 55%;
        p{
            line-height: 25px;
        }
    }

    .contact-add {
        display: flex;
        align-items: center;
    }

}

.button-add {
    background-color: #A100FF;
    border-radius: 25px;
    padding: 0 20px 0 20px;
}

.contact-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1vh 0vh 1vh 1vh;

    span {
        margin: 5px;
        cursor: pointer;
    }
}

