.contact-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 19%;
    margin-right: 15%;
}

.card-contact {
    background-color: rgb(239, 245, 250);
    border: 1px solid rgb(214, 230, 245);
    border-radius: 4px;
    padding: 2vh;
    margin: 5px;
    width: calc(100% / 4);
}
.card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}