<div class="contact-items">
    <div class="card-contact" *ngFor="let item of this.contacts" [routerLink]="['/home', item.id]">
        <div class="card-head">
            <p>{{ item.name | capitalizeFirst }}</p>
            <div class="card-actions">
                <span (click)="editContact(item)" class="material-icons">edit</span>
                <span (click)="deleteContact(item)" class="material-icons">delete</span>
            </div>
        </div>
        <div class="card-content">
            <p>{{ item.email }}</p>
            <p>{{ item.contact }}</p>
        </div>
    </div>    
</div>
